<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <header class="container">
        <div>
            <a href="">
                <h1>Logo</h1>
            </a>
        </div>
        <nav>
            <ul>
                <a href="">
                    <li>Login</li>
                </a>
                <a href="">
                    <li>Cadastrar-se</li>
                </a>
                
            </ul>
        </nav>
    </header>
    <main class="container">
        <section class="title">
            <h1><%= title%></h1>
        </section>
        <section class="products">
            <% for(let produto of produtos) { %>
                <article class="cards">
                    <h2><%= produto.nome %></h2>
                    <img src=<%= produto.img %> alt="">
                    <span><%= produto.descricao %></span>
                    <input id="idP" type="hidden" value="<%=produto.id%>">
                </article>
            <% } %>
        </section>
    </main>
</body>

</html>